# Git
.git
.gitignore
.github

# Documentation
docs/
CHANGELOG.md
CONTRIBUTING.md
CONTRIBUTORS.md
CODE_OF_CONDUCT.md

# CI/CD
.npmrc

# Development
test/
*.test.js
.eslintrc.*
.prettierrc.*
.husky/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node (but not dependencies)
node_modules/

# Misc
*.log
.env
.env.*
